/*

Designer: Mamunur Rashid
Website: http://developermamun.com
Email: developermamunurrashid@gmail.com

*/
@media (min-width: 1199px) and (max-width: 1440px) {
    .home-container .plate {
        opacity: 1;
    }

    .home-container .plate:nth-of-type(1) {
        top: -500%;
    }

    .home-container .plate:nth-of-type(2) {
        top: -320%;
        right: -320%;
    }

    .home-container .plate:nth-of-type(3) {
        right: -500%;
    }

    .home-container .plate:nth-of-type(4) {
        right: -320%;
        bottom: -320%;
    }

    .home-container .plate:nth-of-type(5) {
        bottom: -500%;
    }

    .home-container .plate:nth-of-type(6) {
        bottom: -320%;
        left: -320%;
    }

    .home-container .plate:nth-of-type(7) {
        left: -500%;
    }

    .home-container .plate:nth-of-type(8) {
        top: -320%;
        left: -320%;
    }
    .footer-call {
        right:  15%;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .top .col-md-8 {
        padding: 0px;
    }
    .top .col-md-2 {
        padding: 0px;
    }

    .home-container .plate {
        opacity: 1;
    }

    .home-container .plate:nth-of-type(1) {
        top: -450%;
    }

    .home-container .plate:nth-of-type(2) {
        top: -270%;
        right: -270%;
    }

    .home-container .plate:nth-of-type(3) {
        right: -450%;
    }

    .home-container .plate:nth-of-type(4) {
        right: -270%;
        bottom: -270%;
    }

    .home-container .plate:nth-of-type(5) {
        bottom: -450%;
    }

    .home-container .plate:nth-of-type(6) {
        bottom: -270%;
        left: -270%;
    }

    .home-container .plate:nth-of-type(7) {
        left: -450%;
    }

    .home-container .plate:nth-of-type(8) {
        top: -270%;
        left: -270%;
    }
    .footer-call {
        right:  20%;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media(max-width: 768px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media(max-width:576px) {

}
@media(max-width:370px) {
    
    
}