/*

Designer: Mamunur Rashid
Website: http://developermamun.com
Email: developermamunurrashid@gmail.com

*/
@media (min-width: 1199px) and (max-width: 1440px) {
    .home-container {
        width: 75px;
        height: 75px;
    }

    .home-container {
        width: 70px;
        height: 70px;
    }

    .plate {
        width: 60px;
        height: 60px;
    }

    .plate i {
        width: 100%;
        font-size: 1.5em;
        line-height: 60px;
    }
    .home-container .plate {
        opacity: 1;
    }

    .home-container .plate:nth-of-type(1) {
        top: -500%;
    }

    .home-container .plate:nth-of-type(2) {
        top: -320%;
        right: -320%;
    }

    .home-container .plate:nth-of-type(3) {
        right: -500%;
    }

    .home-container .plate:nth-of-type(4) {
        right: -320%;
        bottom: -320%;
    }

    .home-container .plate:nth-of-type(5) {
        bottom: -500%;
    }

    .home-container .plate:nth-of-type(6) {
        bottom: -320%;
        left: -320%;
    }

    .home-container .plate:nth-of-type(7) {
        left: -500%;
    }

    .home-container .plate:nth-of-type(8) {
        top: -320%;
        left: -320%;
    }
    .footer-call {
        right:  15%;
    }

}


@media (min-width: 992px) and (max-width: 1199px) {
    .top .col-md-8 {
        padding: 0px;
    }
    .top .col-md-2 {
        padding: 0px;
    }
    .home-container {
        width: 65px;
        height: 65px;
    }

    .home-container {
        width: 60px;
        height: 60px;
    }

    .plate {
        width: 50px;
        height: 50px;
    }

    .plate i {
        width: 100%;
        font-size: 1.5em;
        line-height: 50px;
    }

    .home-container .plate:nth-of-type(1) {
        top: -520%;
    }

    .home-container .plate:nth-of-type(2) {
        top: -340%;
        right: -340%;
    }

    .home-container .plate:nth-of-type(3) {
        right: -520%;
    }

    .home-container .plate:nth-of-type(4) {
        right: -340%;
        bottom: -340%;
    }

    .home-container .plate:nth-of-type(5) {
        bottom: -520%;
    }

    .home-container .plate:nth-of-type(6) {
        bottom: -340%;
        left: -340%;
    }

    .home-container .plate:nth-of-type(7) {
        left: -520%;
    }

    .home-container .plate:nth-of-type(8) {
        top: -340%;
        left: -340%;
    }
    .footer-call {
        right:  20%;
    }


}


@media (min-width: 768px) and (max-width: 992px) {
    .home-container {
        width: 60px;
        height: 60px;
    }

    .plate {
        width: 50px;
        height: 50px;
    }

    .plate i {
        width: 100%;
        font-size: 1.5em;
        line-height: 50px;
    }

}

@media(max-width: 768px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media(max-width:576px) {

}
@media(max-width:370px) {
    
    
}